*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Catamaran', sans-serif;
  background-color: #E1E2E1;
}

header, main{
  width: 800px;
  margin: 0 auto;
}

@media screen and (max-width: 513px){
  header,main{
    width: 100%;
  }
}